body {
  font-family: Arial,sans-serif;
  /*font-family: 'Courier New', Courier, monospace;*/

  background-color: rgb(99, 99, 255);

  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.container {
  color: rgb(75, 75, 75);;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

#task-div{
  margin-bottom: 35px;
}

form {
  display: flex;
  gap: 10px;
}

#task-input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
  
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

input[type="checkbox"]{

  width: 20px;
  height: 20px; 

}

input[type="text"]{
  appearance: none;

  border: 1px solid #ddd;
}

#submit-button{
  appearance: none;

  color: white;
  background-color: grey;

  border-width: 0px;
  border-radius: 2px;
}

#submit-button:hover{
  background-color: rgb(90, 90, 90);
}

#delete-button{
  appearance: none;

  color: white;
  background-color: rgb(99, 99, 255);

  border-width: 0px;
  border-radius: 2px;
}

#delete-button:hover{
  background-color: rgb(255, 80, 80);
}

.task-content{
  display: flex;
  align-items: center;
  gap: 10px;
}