body {
  font-family: Arial,sans-serif;
  /*font-family: 'Courier New', Courier, monospace;*/

  background-color: rgb(99, 99, 255);

  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.main-container{
  display: flex;
  gap: 20px;
}

.tasks-container,
.notas-container{

  color: rgb(75,75,75);
  background:white;

  padding:20px;
  border-radius:8px;

  min-width:450px;
  min-height:450px;
  align-self:flex-start;
}

.notas-container textarea{
  appearance: none;
  resize:none;

  font-family: Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(75, 75, 75);
  border: 0px solid white;

  min-height: 350px;
  width: 100%;
  box-sizing: border-box;
}

.notas-container textarea:focus{
  outline: none;
}

#task-div{
  margin-bottom: 35px;
}

form {
  display: flex;
  gap: 10px;
}

#task-input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
  
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.task-completa{
  background: rgb(230, 230, 230);
  border: 1px;
}

.task-completa span{
  text-decoration: line-through;
  opacity: 0.7;

}

input[type="checkbox"]{

  width: 20px;
  height: 20px; 

}

input[type="checkbox"] {

  appearance: none;

  width: 18px;
  height: 18px;

  border: 1px solid #777;

  border-radius: 4px;

  cursor: pointer;

  position: relative;

  transition: 0.2s;
}

input[type="checkbox"]:checked {
  /*background-color: #6d72c3;*/
  border-color: #6d72c3;
}

/*input[type="checkbox"]:hover {
  border-color: #6d72c3;
}*/

input[type="checkbox"]:checked::before {
  content: "✓";
  position: absolute;

  color: #6d72c3;
  font-size: 14px;
  left: 3px;
  top: -1px;
}

input[type="text"]{
  appearance: none;
  border: 1px solid #ddd;
}

input[type="text"]:focus{
  outline: none;
  border: 1px solid #6d72c3;
  box-shadow: 0 0 5px rgba(109,114,195,0.4);
}

#submit-button{
  appearance: none;

  color: white;
  background-color: grey;

  border-width: 0px;
  border-radius: 2px;
}

#submit-button:hover{
  background-color: rgb(90, 90, 90);
}

#delete-button{
  appearance: none;

  color: white;
  background-color: rgb(99, 99, 255);

  border-width: 0px;
  border-radius: 2px;
}

#delete-button:hover{
  background-color: rgb(255, 80, 80);
}

.task-content{
  display: flex;
  align-items: center;
  gap: 10px;
}